-
  var posts = [
    {
      "index": "01",
      "title": "Как все успевать",
      "url": "/",
      "img": "../img/slider-img-1.jpg",
    },
    {
      "index": "02",
      "title": "Как все узнавать",
      "url": "/",
      "img": "../img/slider-img-2.jpg",
    },
    {
      "index": "03",
      "title": "Как все решать",
      "url": "/",
      "img": "../img/slider-img-3.jpg",
    },
    {
      "index": "04",
      "title": "Как все получать",
      "url": "/",
      "img": "../img/slider-img-4.jpg",
    },
  ]
-
