-
  var posts = [
    {
      "index": "01",
      "title": "Как все успевать",
      "url": "/",
    },
    {
      "index": "02",
      "title": "Как все узнавать",
      "url": "/",
    },
    {
      "index": "03",
      "title": "Как все решать",
      "url": "/",
    },
    {
      "index": "04",
      "title": "Как все получать",
      "url": "/",
    },
  ]
-
