// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  @include min-desktop {
    padding-top: 2em;

    h1 {
      order: -1;
      margin-bottom: 30px;
      font-size: rem(35);
    }
  }

  h1 {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 70%;
    font-family: $font-title-black;
    font-size: rem(25);
    letter-spacing: 1px;
    text-align: center;
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
}
