//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/articles/articles.pug
include ../blocks/aside/aside.pug
include ../blocks/ballet/ballet.pug
include ../blocks/burger/burger.pug
include ../blocks/hero/hero.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/news/news.pug
include ../blocks/overviews/overviews.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/pagination/pagination.pug
include ../blocks/posts-slider/posts-slider.pug
