// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

$color-vk:                    #4a76a8;
$color-fb:                    #4267b2;
$color-tw:                    #40a2f5;
$color-gh:                    #24292e;

// цвета проекта
$color-orange:                #ff7931;


// Семантические цвета

$text-color:                  $black;

$link-color:                  $black;
$link-color--hover:           rgba($color: $text-color, $alpha: 0.7);

$menu-link-color:             $gray-darker;

$border-color:                $gray-lighten;

$body-bg:                     $white;
$hero-bg:                    $color-fb;


// Базовая типографика

$font-size:                   1rem;
$line-height:                 1.5;

// шрифты проекта

$font-title-black:            'Playfair Display Black', 'Times New Roman', serif;
$font-main-regular:           'Raleway Regular', 'Roboto', 'Arial', sans-serif;
$font-main-thin:              'Raleway Thin', 'Roboto', 'Arial', sans-serif;
$font-main-thin-light:        'Raleway Thin Light', 'Roboto', 'Arial', sans-serif;
$font-main-medium:            'Raleway Medium', 'Roboto', 'Arial', sans-serif;
$font-main-semibold:          'Raleway Semibold', 'Roboto', 'Arial', sans-serif;
$font-main-bold:              'Raleway Bold', 'Roboto', 'Arial', sans-serif;
$font-alt-proxima:            'Proxima Regular', 'Arial', sans-serif;


// Ширины

$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-predesktop:           1024px;
$screen-desktop:              1440px;

$menu-desktop-breakpoint:     $screen-predesktop;


// Разное

$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$transition-animation:        ease-in;
$transition-deafault:         $transition-time $transition-animation;
$shadow:                      -2px 2px 10px 0 rgba(0, 0, 0, 0.3);

$toggler-part-height:         3px;
$toggler-part-color:          $white;
$toggler-part-color-close:    $gray-lighter;

$z-index-nav:                 10;
$z-index-modal:               100;

$retina:                      1.5dppx;
$retina-plus:                 2.5dppx;

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}
