extends ../pug/layout.pug

block meta
  title Новости культуры
  meta(name='description', content='Новости из мира искусств и культуры')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('-1')

block content
  main
    +hero()
    .page__wrapper



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
