-
  var news = [
    {
      "isMain": "true",
      "img": {
        "src": ["../img/news-birds.jpg",  "../img/news-birds@2x.jpg", "../img/news-birds@3x.jpg"],
        "widths": ["470", "940", "1410"],
      },
      "title": "Новости культуры России и всего мира",
      "text": "В минувшие выходные в Москве на фестивале «Оберег» вручили первую премию Russian World Music Awards",
      "url": "/",
    },
    {
      "isMain": "false",
      "img": {
        "src": ["../img/news-statue.jpg", "../img/news-statue@2x.jpg", "../img/news-statue@3x.jpg"],
        "widths": ["127", "254", "381"],
      },
      "title": "Открытие нового памятника Евгению Леонову",
      "text": "10 сентября в 15:00 был открыт памятник писателю",
      "url": "/",
    },
    {
      "isMain": "false",
      "img": {
        "src": ["../img/news-patric.jpg", "../img/news-patric@2x.jpg", "../img/news-patric@3x.jpg"],
        "widths": ["127", "254", "381"],
      },
      "title": "День и ночь св. Патрика: встреча старых друзей",
      "text": "Не Джойсом единым живет Ирландия!",
      "url": "/",
    },
    {
      "isMain": "false",
      "img": {
        "src": ["../img/news-writer.jpg", "../img/news-writer@2x.jpg", "../img/news-writer@3x.jpg"],
        "widths": ["127", "254", "381"],
      },
      "title": "Беседы с писателями",
      "text": "Русские писатели беседуют о важности искусства",
      "url": "/",
    },
  ]
-
