// В этом файле должны быть стили для БЭМ-блока news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {
  @include min-tablet {
    margin-bottom: 40px;
  }

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 20px;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: rem(17);
    text-transform: uppercase;
  }
}

.news__inner {
  @include min-tablet {
    flex-direction: row;

    & > ul {
      width: 50%;
    }
  }

  display: flex;
  flex-direction: column;
}

.news__main-list {
  @include list-reset;
  @include min-tablet {
    margin-right: 20px;
  }

  display: flex;
  flex-direction: column;
}

.news__list {
  @include list-reset;
  @include min-tablet {
    justify-content: space-between;

    .news__content {
      width: 100%;
    }
  }

  display: flex;
  flex-direction: column;

  .news__content {
    width: 50.6%;
  }

  .news__img-container {
    margin-right: 10px;
  }
}

.news__item {
  @include min-tablet {
    margin-bottom: 0;
  }

  display: flex;
  margin-bottom: 31px;

  &:hover {
    .news__img-container::before {
      opacity: 1;
    }
  }

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $color-orange;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }

  p {
    margin: 0;
    width: 95%;
    font-size: 10px;
  }

  &--main {
    position: relative;
    flex-direction: column-reverse;
    padding: 20px 15px;
    min-height: 334px;

    h3 {
      font-size: rem(20);
    }

    p {
      width: 100%;
      font-size: rem(14);
    }

    div {
      width: 100%;
    }

    .news__img-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.news__img-container {
  @include min-tablet {
    width: 55%;
  }

  @include min-predesktop {
    flex-shrink: 0;
    width: auto;
  }
  position: relative;

  &::before {
    @include pseudo;

    display: block;
    top: 9px;
    right: 9px;
    width: 14px;
    height: 17px;
    background-image: url("../img/bookmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
    transition: opacity $transition-deafault;
  }

  img {
    display: block;
  }
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: $z-index-modal;
}
