//- Все примеси в этом файле должны начинаться c имени блока (news)

mixin news()

  include news.data.pug
  -
    const mainNews = news.filter((item) => { return item.isMain === 'true' });
    const restNews = news.filter((item) => { return item.isMain === 'false' });

  section.news(class=allMods)&attributes(attributes)
    h2 Новости
    .news__inner
      ul.news__main-list
        each item in mainNews
          +newsItem(item)
      ul.news__list
        each item in restNews
          +newsItem(item)

mixin newsItem(item)
  -
    let thisItemClass = 'news__item';
    if (item.isMain === 'true') {
      thisItemClass += ' news__item--main';
    }

  li(class= thisItemClass)
    -
      let defaultImgUrl = item.img.src[0];
      let retinaImgUrl = item.img.src[1];
      let retinaPlusImgUrl = item.img.src[2];

      let imgSrcset = retinaImgUrl + ' 2x, ' + retinaPlusImgUrl + ' 3x';

    .news__img-container
      a(class='news__img-link', href= item.url)
        img(src= defaultImgUrl, srcset= imgSrcset, alt= item.title, width='127', height='91')
    .news__content
      a(href= item.url)
        h3= item.title
      p= item.text
        span
