-
  var news = [
    {
      "isMain": "true",
      "src": "../img/news-birds@3x.jpg",
      "title": "Новости культуры России и всего мира",
      "text": "В минувшие выходные в Москве на фестивале «Оберег» вручили первую премию Russian World Music Awards",
      "url": "/",
    },
    {
      "isMain": "false",
      "src": "img/news-statue@3x.jpg",
      "title": "Открытие нового памятника Евгению Леонову",
      "text": "10 сентября в 15:00 был открыт памятник писателю",
      "url": "/",
    },
    {
      "isMain": "false",
      "src": "img/news-patric@3x.jpg",
      "title": "День и ночь св. Патрика: встреча старых друзей",
      "text": "Не Джойсом единым живет Ирландия!",
      "url": "/",
    },
    {
      "isMain": "false",
      "src": "img/news-writer@3x.png",
      "title": "Беседы с писателями",
      "text": "Русские писатели беседуют о важности искусства",
      "url": "/",
    },
  ]
-
