-
  var overviews = [
    {
      "index": "10",
      "title": "«Шальные годы» Монпарнаса",
      "src": "../img/reviews-monparnas@3x.jpg",
      "url": "/",
      "text": "В Музее изобразительных искусств имени Пушкина с 29 сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»",
    },
    {
      "index": "20",
      "title": "Анатомия за 30 секунд",
      "src": "../img/reviews-anatomy@3x.jpg",
      "url": "/",
      "text": "Сейчас, когда мир открыт нараспашку для человека и его познавательных изысканий, интерес к научно-популярной литературе заметно вырос",
    },
    {
      "index": "30",
      "title": "Русские балетные сезоны",
      "src": "../img/reviews-ballet@3x.jpg",
      "url": "/",
      "text": "В Новом Иерусалиме стартовал необычный культурно-развлекательный спектакль, который покажут в новом театре",
    },
    {
      "index": "40",
      "title": "Сферические чудаки",
      "src": "../img/reviews-theatre@3x.jpg",
      "url": "/",
      "text": "Корреспондентам «Культурного обозревателя» посчастливилось побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды»",
    },
  ]
-
