-
  var heroSlides = [
    {
      "id": "10",
      "title": "Подводный отель",
      "text": "Как известно, Дубай – город контрастов. Самые революционные и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти и за счет  нефти",
      "isNew": "true",
    },
    {
      "id": "20",
      "title": "Воздушный некрополь",
      "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sunt eligendi qui suscipit quia, maiores id possimus odio ad consequuntur nesciunt quo obcaecati delectus ex assumenda.",
      "isNew": "false",
    },
    {
      "id": "30",
      "title": "Ветренный бордель",
      "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo odit id ducimus saepe necessitatibus",
      "isNew": "true",
    },
    {
      "id": "40",
      "title": "Солнечный фалафель",
      "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo odit id ducimus saepe necessitatibus praesentium natus voluptas accusantium perferendis consequatur esse laborum dolores",
      "isNew": "true",
    },
    {
      "id": "30",
      "title": "Лунная призма",
      "text": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo odit id ducimus saepe necessitatibus praesentium natus voluptas accusantium perferendis consequatur esse laborum",
      "isNew": "false",
    },
  ]
-
