//- Все примеси в этом файле должны начинаться c имени блока (hero)

mixin hero()
  include hero.data.pug

  section.hero
    .hero__inner
      ul.hero__list
        each slide in heroSlides
          +sliderItem(slide)
      .hero__controls
        div
          span.hero__controls-title.hero__controls-title--left(role="presentation") Предыдущая
          button.hero__button.hero__button--left(aria-label="Предыдущий слайд")
        div
          button.hero__button.hero__button--right(aria-label="Следующий слайд")
          span.hero__controls-title.hero__controls-title--right(role="presentation") Следующая


mixin sliderItem(slide)
  li.hero__item
    if slide.isNew == "true"
      span Новое
    h2= slide.title
    p= slide.text
