// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: flex;
  flex-direction: column;
  z-index: $z-index-nav;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: none;
        }
      }

      .js #{$block-name}--open & {
        max-height: 1000px;
        transition: max-height 0.6s;

        &--lvl-2 {
          max-height: none;
        }
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }

      .main-nav__item {
        margin-bottom: 0;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          display: none;
        }
      }

      .main-nav__link {
        font-size: rem(15);
        color: $text-color;
      }
    }
  }

  &__item {
    position: relative;
    margin-bottom: 10px;

    &--active {
      & > #{$block-name}__link { // stylelint-disable-line  selector-combinator-blacklist
        color: $menu-link-color;
      }
    }

    &::before {
      @include pseudo;

      top: 15px;
      right: 25px;
      width: 8px;
      height: 12px;
      background-image: url("../img/menu-arrow-right.svg");
    }
  }

  &__link {
    display: block;
    padding: 0.7em 1em;
    color: $menu-link-color;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $white;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }

    &--lvl-2 {
      min-width: 200px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2em;
      }
    }

    &--lvl-3 {
      min-width: 200px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 3em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
        // stylelint-enable
      }
    }
  }

  // переключатель

  &__toggler {
    display: inline-block;
    border: none;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }
}
