-
  var mainMenu = [
    {
      "id": "0",
      "name": "Новости",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Обзоры",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Музыка",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Архитектура",
      "url": "/"
    },
    {
      "id": "40",
      "name": "Кино",
      "url": "/"
    },
    {
      "id": "50",
      "name": "Театр",
      "url": "/"
    },
    {
      "id": "60",
      "name": "Литература",
      "url": "/"
    },
    {
      "id": "70",
      "name": "Религия",
      "url": "/"
    },
    {
      "id": "80",
      "name": "Живопись",
      "url": "/"
    },
  ]
-
