// В этом файле должны быть стили для БЭМ-блока aside, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.aside {
  @include min-desktop {
    display: flex;
    order: -1;
    width: 30%;
    margin: 0;
  }

  width: 95%;
  margin: 0 auto;
}
