-
  var articles = [
    {
      "index": "01",
      "title": "Воздушные шары",
      "url": "/",
      "img": "../img/article-baloons.jpg",
      "isDark": "false",
    },
    {
      "index": "02",
      "title": "Необычная фотосессия",
      "url": "/",
      "img": "../img/article-fotosession.jpg",
      "isDark": "true",
    },
    {
      "index": "03",
      "title": "Выставка птиц",
      "url": "/",
      "img": "../img/article-bird.jpg",
      "isDark": "true",
    },
  ]
-
