// В этом файле должны быть стили для БЭМ-блока articles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
.articles {
  @include min-desktop {
    padding: 0;
  }

  display: flex;
  padding: 20px 0;
  width: 100%;
}

.articles__inner {
  display: flex;
  width: 100%;
}

.articles__list {
  @include list-reset;
  @include min-tablet {
    flex-direction: row;
    justify-content: center;
  }
  @include min-desktop {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.articles__item {
  @include min-tablet {
    margin-right: 20px;
    width: 45%;

    &:last-child,
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @include min-desktop {
    flex-grow: 1;
    margin-right: 0;
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $black;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    @include min-desktop {
      width: 80%;
      font-size: rem(30);
    }
    margin: 0;
    width: 70%;
    font-family: $font-title-black;
    font-size: rem(20);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  a {
    position: relative;
    display: block;
    padding-left: 30px;
    width: 170px;
    height: 47px;
    font-family: $font-main-semibold;
    font-size: rem(12);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 47px;
    color: $white;
    background-color: $color-orange;

    &:hover {
      opacity: $opacity;
    }

    &::before {
      @include pseudo;

      top: 14px;
      right: 30px;
      width: 18px;
      height: 18px;
      background-image: url("../img/arrow-forward.svg");
      background-repeat: no-repeat;
    }
  }
}

.articles__item--dark {
  color: $white;

  a {
    border: 1px solid $white;
    background-color: rgba($color: $black, $alpha: 0.4);
  }
}
